<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <style>
        body{background-color: azure;}
        h1{
            margin-left: 40%;
            padding-top: 5%;
            font: larger "Comic Sans MS";
        }

        a{
            text-decoration-line: none;
            border:darkblue double 2px;
            padding: 10px;
            margin-left: 40%;
            background-color: dodgerblue;
            color:black;
        }
        a:hover{
            color:white;
            background-color: darkblue;
        }
    </style>
</head>
<body>
<h1>WHOOPS!</h1>
<h1>An error occured</h1>
<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html>